.neuer-eintrag form {
  margin: 0;
  padding: 0;
  width: 100%;
}

.form-content {
  display: flex;
  justify-content: center;
  width: 98%;
  margin: 0 auto;
  padding: 0;
}

.form-content input {
  margin: 20px 5px;
  background-color: #ffe78f;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.form-content input::placeholder {
  font-size: 1rem;
}

.form-content input[type="text"] {
  width: 450px;
}

.form-content input[type="number"] {
  height: 40px;
  width: 80px;
}

.top-bar button {
  display: block;
  height: 40px;
  width: 40px;
  margin: 0 auto 20px;
  background-color: #322f3d;
  color: whitesmoke;
  box-shadow: 0 0 0 5px #ffe78f;
  border-radius: 50%;
  border: none;
}

.top-bar button:focus {
  outline: 0;
}
