.neuer-eintrag form {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .form-content {
    display: flex;
    justify-content: center;
    width: 98%;
    margin: 0 auto;
    padding: 0;
  }
  
  .form-content input {
    margin: 20px 5px;
    background-color: #ffe78f;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .form-content input::placeholder {
    font-size: 1rem;
  }
  
  .form-content input[type="text"] {
    height: 40px;
    width: 450px;
  }

  .switch-input {
    display: block;
    height: 40px;
    width: 40px;
    margin: 20px 0 0 10px;
    background-color: #322f3d;
    color: whitesmoke;
    box-shadow: 0 0 0 5px #ffe78f;
    border-radius: 50%;
    border: none;
  }

  .switch-input i {
    font-size: 1.3rem;
  }

  .switch-input:active {
    outline: 0;
  }

  .switch-input:hover {
    box-shadow: 0 0 0 5px #322f3d;
  }