.data {
    padding: 0 15px;
}

.data__content {
    display: grid;
    grid-template-columns: auto repeat(5, 80px);
    column-gap: 10px;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}

.data__food {
    background-color: #59405c;
}

.data__content span {
    font-size: 1rem;
    line-height: 2.3rem;
    border: 2px solid whitesmoke;
    border-radius: 5px;
}

.data__content span:not(.data__food) {
    background-color: #87556f;
}

.data__content input {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    background-color: #ffe78f;
    color: darkslategray;
    border-radius: 5px;
}

.data__content .data__menge::placeholder {
    transform: scale(0.5);
    font-weight: normal;
}